<div class="content" data-ng-init="getRequestData()">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Traffic Report<small>Request Data</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header></header>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="input-group">
                                <input name="Search" type="text" class="form-control" id="dropdown-appended" data-ng-model="query" placeholder="Search">
                                <div class="input-group-btn" data-ng-init="getDomains()">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        {{siteDisplay()}}
                                        <i class="icon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li data-ng-repeat="domain in domains()"><a href="" data-ng-click="pickDomain(domain.name)">{{domain.name}}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="" data-ng-click="selectAll('selectedsite')">All Sites</a></li>
                                    </ul>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        {{attackDisplay()}}
                                        <i class="icon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="" data-ng-click="showAttacks()">Show Attacks</a></li>
                                        <li><a href="" data-ng-click="selectAll('attackview')">Show All Traffic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 pull left">
                            <pagination boundary-links="true" max-size="maxSize" total-items="totalItems" items-per-page="defaultItemsPerPage" page="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </div>
                    </div>

                    <table class="table table-striped table-images" style="table-layout: fixed; width: 100%">
                        <thead>
                        <tr>
                            <th class="hidden-xs-portrait">Date</th>
                            <th style="width:5%">Method</th>
                            <th style="width:35%">URL</th>
                            <th>From</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody data-ng-repeat="item in getPagedItems() track by $index" ng-switch="row.show" ng-init="row={}">
                            <tr>
                                <td class="hidden-xs-portrait">{{item.requestedtimestamp}}</td>
                                <td>{{item.method}}</td>
                                <td style="word-wrap: break-word;"><div style="width:100%;height:100%;overflow:auto;">{{item.headers.host}}{{item.url}}</div></td>
                                <td>{{item.remoteIP}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" ng-click="row.show=!row.show;showDetails(row.show, item._id)">
                                        {{showButtonDisplay(row.show)}}
                                    </button>
                                    <button class="btn btn-sm btn-warning" ng-click="toggleAttack(item)">
                                        {{markButtonDisplay(item)}}
                                    </button>
                                </td>
                            </tr>
                            <tr data-ng-switch-when="true">
                                <td class="hidden-xs-portrait" colspan="5">{{item.body}}</td>
                            </tr>
                            <tr data-ng-switch-when="true" >
                                <td colspan="5" class="well-white" style="word-wrap: break-word">
                                    <ul>
                                        <h4>Full URL:</h4>
                                        <span ng-bind-html="highlight(item.headers.host+item.url, item.attacks[0].matches[0])"></span><br>
                                        <!--<li>{{item.headers.host}}{{item.url}}</li><br>-->
                                        <h4>Headers</h4>
                                        <li data-ng-repeat="(name,header) in item.headers">{{name}}: {{header}}</li><br>
                                        <h4>POST Body:</h4>
                                        <li>{{item.body}}</li><br>
                                        <h4>Attack Info:</h4>
                                        <li data-ng-repeat="attack in item.attacks">{{attack.type}} - Confidence Level: {{attack.score}}</li><br>
                                        <li>
                                            <button class="btn btn-sm btn-warning" data-ng-click="toggleBlock(item)">
                                                {{blockButtonDisplay(item)}} {{item.remoteIP}}
                                            </button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-sm">
                                Export ...
                            </button>
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Attacks &nbsp;
                                    <i class="icon-caret-down"></i>
                                </button>
                                <ul class="popup-menu">
                                    <li><a href="#">Cross Site Scripting</a></li>
                                    <li><a href="#">SQL Injection</a></li>
                                    <li><a href="#">Directory Traversal</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">All Attacks</a></li>
                                    <li><a href="#">All Traffic</a></li>
                                </ul>
                            </div>
                        </div>

                        <ul class="pagination no-margin">
                            <li class="disabled"><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>

                    </div>-->
                </div>
            </section>
        </div>
    </div>

</div>