<div class="content container" data-ng-init="getRequestData()">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Traffic Report<small>Reqeust Data</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <header></header>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-6 pull-right">
                            <div class="input-group">
                                <input name="Search" type="text" class="form-control" id="dropdown-appended" data-ng-model="query" placeholder="Search">
                                <div class="input-group-btn">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        Sites
                                        <i class="icon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li data-ng-init="getDomains()" data-ng-repeat="domain in domains"><a href="" data-ng-click="pickDomain(domain.name)">{{domain.name}}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="" data-ng-click="selectAll()">All Sites</a></li>
                                    </ul>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        Attacks
                                        <i class="icon-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="" data-ng-click="showAttacks()">Show Attacks</a></li>
                                        <li><a href="" data-ng-click="selectAll()">Show All Traffic</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 pull left">
                            <pagination boundary-links="true" max-size="maxSize" total-items="totalItems" items-per-page="defaultItemsPerPage" page="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                        </div>
                    </div>

                    <table class="table table-striped table-images">
                        <thead>
                        <tr>
                            <th class="hidden-xs-portrait">Date</th>
                            <th>Method</th>
                            <th>URL</th>
                            <th>From</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="item in pagedItems">
                            <td class="hidden-xs-portrait">{{item.requestedtimestamp}}</td>
                            <td>{{item.method}}</td>
                            <td>{{item.url}}</td>
                            <td>{{item.remoteIP}}:{{item.remotePort}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary">
                                    Show
                                </button>
                                <button class="btn btn-sm btn-warning" data-toggle="button">
                                    Mark
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <!--<div class="clearfix">
                        <div class="pull-right">
                            <button class="btn btn-sm">
                                Export ...
                            </button>
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    &nbsp; Attacks &nbsp;
                                    <i class="icon-caret-down"></i>
                                </button>
                                <ul class="popup-menu">
                                    <li><a href="#">Cross Site Scripting</a></li>
                                    <li><a href="#">SQL Injection</a></li>
                                    <li><a href="#">Directory Traversal</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">All Attacks</a></li>
                                    <li><a href="#">All Traffic</a></li>
                                </ul>
                            </div>
                        </div>

                        <ul class="pagination no-margin">
                            <li class="disabled"><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>

                    </div>-->
                </div>
            </section>
        </div>
    </div>

</div>